name: Gitleaks

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2


      # ---------------------------------
      # Install Gitleaks CLI
      # Downloads official binary
      # ---------------------------------
      - name: Install Gitleaks
        run: |
          curl -sSL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks_linux_x64.tar.gz | tar -xz
          sudo mv gitleaks /usr/local/bin/


      # ---------------------------------
      # Decide which commits to scan
      # Push  -> before..after
      # PR    -> base..HEAD
      # ---------------------------------
      - name: Calculate diff range
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "RANGE=origin/${{ github.base_ref }}..HEAD" >> $GITHUB_ENV
          elif [ "${{ github.event.before }}" = "0000000000000000000000000000000000000000" ]; then
            echo "RANGE=HEAD" >> $GITHUB_ENV
          else
            echo "RANGE=${{ github.event.before }}..${{ github.sha }}" >> $GITHUB_ENV
          fi


      # ---------------------------------
      # Run gitleaks ONLY on changed commits
      #
      # --log-opts = diff scan magic
      # --exit-code 1 fails build if leaks found
      # ---------------------------------
      - name: Run Gitleaks scan
        run: |
          gitleaks detect \
            --log-opts="$RANGE" \
            --config=.gitleaks.toml \
            --exit-code 1

